// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

// COLORS
$darkblue: #243F67;
$background: #F3F9FF;

* {
    margin: 0;
    min-width: 250px;
    box-sizing: border-box;
    body {
        height: 100vh;
        // background-color: green;
        display: flex;
        flex-direction: column;
        
        .header {
            background-color: #243F67;
            padding: 30px 40px;
            color: white;
            text-align: center;
        }
        table {
            background-color: #F3F9FF;
            text-align: center;
            width: 100%;
            border: 1px solid #243F67;
            padding: 20px;
            tr {
                // background-color: greenyellow;
                td {
                    border: #243F67 1px solid;
                    font-size: large;
                    height: 50px;
                }
            }
        } 
   }
}